body {
    background-color: green;
}

.ShopTable {
    background-color: yellow;
    border-spacing: 0 10px;
    padding: 10px;
    margin: auto;
    border-collapse: collapse
}

.ShopTable.ShopCaption {
    margin-bottom: 15px;
    font-size: 3em;
    color: whitesmoke;
}

.ShopTable .Product .productsImg img {
    height: 150px;
    width: 165px;
}

.Product,
.ProductsThead {
    text-align: center;
    align-items: center;
    box-sizing: border-box;
}

.ShopTable td {
    padding: 0 50px;
    color: red;
}

.ShopTable tr {
    font-weight: normal;
    color: #039;
    border-bottom: 2px solid #6678b1;
    padding: 10px 8px;
}

.ShopTable tr:hover td {
    color: #6699ff;
}
